@tailwind base;
@tailwind components;
@tailwind utilities;
@import "node_modules/@butopen/design-system/src/index";

:root {
  --bo-theme-color: #65ec36;
}

.main-color {
  color: var(--bo-theme-color);
}

@import "css/_fonts";

html,
body {
  font-family: "Open Sans";
}

.bo-header {
  a {
    @apply mr-1 text-sm uppercase text-gray-600 opacity-90 hover:text-bop hover:opacity-100;
  }
}

.http-paste-textarea-container .cm-editor {
  height: 150px;
}

@media (min-width: 480px) {
  .http-paste-textarea-container .cm-editor {
    height: 450px;
  }
}

i {
  @apply italic;
}
